@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-base-dark: #386d92;
  --color-base-light: #4d88ae;
  --color-background: #e5f3fa;
  --color-font: #343a40;
  --color-link: var(--color-base-dark);
  --color-link-hover: var(--color-base-light);
}
